/*Интервалы*/
/*новый комментраий */
.interval-selector-container {
  display: flex;
  gap: 8px;
  margin: 10px 0;
}

.interval-button {
  background-color: #222;
  color: #ddd;
  padding: 6px 12px;
  border: 1px solid #444;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.interval-button.active {
  background-color: #0d6efd;
  color: white;
  font-weight: bold;
}

.interval-button:disabled {
  opacity: 0.6;
  cursor: default;
}
